<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>
<div class="container">
  <div><label>Nombre</label> <input type="text" class="form-control" /></div>
  <div><label>Email</label> <input type="email" class="form-control" /></div>
  <div><label>Comentario</label> <textarea class="form-control"></textarea></div>
  <hr />
  <div><button class="btn btn-primary">Enviar</button> <button class="btn" routerLink="/lugares">Cancelar</button></div>
</div>
