<div class="container mt-3 ">
  <div class="row justify-content-center">
    <div class="col-md-offset col-md-4">
      <div class="card">
        <div class="card-body">
          <label for="emailLogin">Email</label>
          <input type="email" id="emailLogin" class="form-control">
          <label for="passwordLogin">Contraseña</label>
          <input type="password" id="passwordLogin" class="form-control">
          <hr>
          <a href="" class="btn btn-block btn-primary">Registrarse</a>
          <a href="" class="btn btn-block btn-info">Cancelar</a>
        </div>
      </div>
    </div>
  </div>
</div>

